.splash-container {
    position: relative;
    width: 100%;
}

/*  */
.hero-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Styles the Hero text */
.hero-text {
    z-index: 4;
    
    
    /* Option 1 - Boxed Gradient - Better support */
    color: var(--mantine-color-neonGreen-6);
    background: linear-gradient(to right, 
        var(--mantine-color-darkGreen-2), 
        #345011, 
        var(--mantine-color-neonOrange-9), 
        #396627, 
        #ad9d0a); 
    padding: 0 10px;
}

.hero-text:nth-child(2) {
    color: var(--mantine-color-neonOrange-6);
}

/* 
Option 2 - Gradient box
.hero-text:first-child {
    background: var(--mantine-color-neonGreen-6);
    background: linear-gradient(to bottom,
        var(--mantine-color-neonGreen-6),
        var(--mantine-color-neonGreen-6),
        var(--mantine-color-neonOrange-6)
    );
    background-clip: text;
}

.hero-text:nth-child(2) {
    background: var(--mantine-color-neonGreen-6);
    background: linear-gradient(to bottom,
        var(--mantine-color-neonGreen-6),
        var(--mantine-color-neonOrange-6),
        var(--mantine-color-neonOrange-6)
    );
    background-clip: text;
} */


/* Hero Text custom underline */
.hero-text::after {
    content: ' ';

    position: relative;
    display: block;

    width: 100%;
    height: 0.3rem;
    transform: translateY(-1rem);
    z-index: -1;

    background-color: var(--mantine-color-neonGreen-6);
}

.description {
    color: var(--mantine-color-lightYellow-1)
}

/* Hero Image (ie. image behind the 'K') */
.hero-image-container {
    margin-left: auto;
    background-image: url('@kissena/pages/home/assets/landing_wide.jpg');
    background-position: 50%;
    background-size: cover;
    flex-grow: 1;

    /* Ensure it is 3/2 aspect ratio (ie. wide */
    aspect-ratio: 3/2; 
    min-height: 400px;

    width: 80%;
}

/* Hero Image Overlay (ie. the K) */
.hero-overlay {
    height: 100%;
    width: 100%;
    mask-repeat: contain;
    mask-repeat: no-repeat;
    mask-composite: exclude;
    background-color: var(--mantine-color-darkGreen-2);
    mask-image: url('@kissena/pages/home/assets/overlay.svg');
}