html, body, #root {
    height: 100%;
    width: 100%;
    background-color: var(--mantine-color-darkGreen-6);
}

:root {
    @mixin smaller-than $mantine-breakpoint-md {
        font-size: 12px;
    }
}